Hello,

${invitation.ownerName} is inviting you to a bet at myBetpals!

${invitation.competitionName}
${competition.description}

Deadline for betting is ${invitation.deadline} 

You may join by following this link: ${siteUrl}/join/${competition.encodedLink}
