html {	background-color: #67b116;}
body {	margin: 0;	background: #67b116;}

input[type=text], input[type=password] {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #B5B6B6;
    height: 25px;
    padding-left: 5px;
}

.colorDiv { padding-top: 45px; }
.colorDiv a { line-height: 12px; }
.colorDiv img { border: 0; vertical-align: bottom; }

.logo1 { background: transparent url("../i/logo01.png") 0 0 no-repeat !important; }
.logo2 { background: transparent url("../i/logo02.png") 0 0 no-repeat !important; }
.logo3 { background: transparent url("../i/logo03.png") 0 0 no-repeat !important; }
.logo4 { background: transparent url("../i/logo04.png") 0 0 no-repeat !important; }

.headerPane {
	height: 129px;
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #242b21;
	background: transparent url("../i/header.png") 0 0 no-repeat;	
}

.headerPane:hover { cursor: pointer; }
.headerPane input[type='text'] {
    width: 148px;
    height: 24px;
    border: 1px solid #7a8b73;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.headerPane input[type='password'] {
    width: 140px;
    height: 24px;
    border: 1px solid #7a8b73;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a { color: #297085 !important; }

.greenDotLink { background: transparent url("../i/greenDot.jpg") 0 2px no-repeat; padding-left: 15px; }
.whiteDotLink { background: transparent url("../i/whiteDot.png") 0 2px no-repeat; padding-left: 15px; }
.blueDotLink { background: transparent url("../i/blueDot.jpg") 0 2px no-repeat; padding-left: 15px; }

h2.dark {
    background: transparent url("../i/h2_dark.png") 0 0 no-repeat;   
    height: 35px;
    color: #FFFFFF;
    font-family: "MS Trebuchet",sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 16px;
    padding-top: 8px;
    margin-bottom: 0px;
}

h2.dark_long {
    background: transparent url("../i/h2_dark_long.png") 0 0 no-repeat;   
    height: 35px;
    color: #FFFFFF;
    font-family: "MS Trebuchet",sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 16px;
    padding-top: 8px;
    margin-bottom: 0px;
}

h3 { font-family: "MS Trebuchet", sans-serif; font-size: 20px; color: #297085; }
p { font-family: "MS Trebuchet", sans-serif; font-size: 13px; color: #242b21; }

#loginButton {
    height: 26px;
    width: 107px;
    background: transparent url("../i/btn_g.jpg") 0 0 no-repeat; 
    border: none;
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}
.buttonB {
    height: 26px;
    width: 107px;
    background: transparent url("../i/btn_b.jpg") 0 0 no-repeat; 
    border: none;
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}
#facebookLink {
    height: 26px;
    width: 107px;
    background: transparent url("../i/btn_b.jpg") 0 0 no-repeat; 
    border: none;
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff !important;
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}
#editProfileButton {
    background-color: #ffffff;
    border: 1px solid #a3a3a3;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 7px;
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #9f9fa0;
    cursor: pointer;
}

.whiteButton90 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #9f9fa0;
    width: 90px;
    background-color: #ffffff;
    border: 1px solid #a3a3a3;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.whiteButton110 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #9f9fa0;
    width: 110px;
    background-color: #ffffff;
    border: 1px solid #a3a3a3;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.whiteButton140 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #9f9fa0;
    width: 140px;
    background-color: #ffffff;
    border: 1px solid #a3a3a3;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.blueButton90 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff;
    width: 90px;
    background-color: #297085;
    border: 1px solid #79a3b1;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.blueButton110 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff;
    width: 110px;
    background-color: #297085;
    border: 1px solid #79a3b1;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.blueButton140 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff;
    width: 140px;
    background-color: #297085;
    border: 1px solid #79a3b1;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.greenButton90 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff;
    width: 90px;
    background-color: #67b116;
    border: 1px solid #a0cd70;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.greenButton110 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff;
    width: 110px;
    background-color: #67b116;
    border: 1px solid #a0cd70;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.greenButton140 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff;
    width: 140px;
    background-color: #67b116;
    border: 1px solid #a0cd70;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.orangeButton90 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff;
    width: 90px;
    background-color: #fa7600;
    border: 1px solid #a0cd70;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.addFriendButton {
    background-color: #ffffff;
    border: 1px solid #a3a3a3;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #9f9fa0;
    cursor: pointer;
	width: 105px;
}

#accountInfoTable { margin-left: 12px; width: 149px; }
#accountInfoTable td:hover { cursor: pointer; }
#accountInfoTable td { padding-top: 2px; padding-bottom: 2px; }
#accountDetailsTable { margin-bottom: 30px; }
#accountDetailsTable td {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e5e5e5;
}
#accountDetailsTable td.buttonCell {
    width: 90px;
    text-align: right;
    background-color: transparent !important;
}

.palsTable th {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #9f9fa0;
    border-bottom: 1px solid #d4d4d4;
    padding-right: 0;
    padding-bottom: 2px;
}
.palsTable td {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #242b21;
    border-bottom: 1px solid #d4d4d4;
    padding-right: 0;
}
.palsTableHover td { background-color: #b6b6b6 !important; }

.reputationTable td {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #626262;
    border-bottom: 1px solid #d4d4d4;
    padding-right: 0;
}

.leftPaneInside { margin-left: 10px; height: 20px; width: 100px; }

#loginInput1 { padding-top: 14px; }
#loginInput1 input[type='checkbox'] {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    width: 15px;
    height: 15px;
}
#loginInput1 span { color: #297085; }
#loginInput2 { padding-top: 14px; }
#loginButtonPane { padding-top: 32px; }

.contentPane img { border: 0; vertical-align: bottom; }

#contentArea { background-color: #ffffff; }

.contentDiv {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #283126;
	padding-top: 25px;
    padding-left: 40px;
    padding-right: 30px;
}
.headerContentDiv {
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 30px;
}

#introArea { height: 300px; background-color: #ffffff; }

#linksArea { height: 76px; background: transparent url("../i/links.jpg") 0 0 no-repeat; }
#loginContentArea { background: #c6c5c5; }
#signupArea {
    padding-top: 95px;
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #242b21;
    height: 100%;
    background: #3c423b url("../i/signup.png") 0 0 no-repeat; 
}

#signupArea input[type='text'] {
    width: 266px;
    height: 24px;
    border: 1px solid #7a8b73;
    margin-top: 12px;
    margin-bottom: 12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#signupArea input[type='password'] {
    width: 266px;
    height: 24px;
    border: 1px solid #7a8b73;
    margin-top: 12px;
    margin-bottom: 12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#signupArea img { vertical-align: bottom; }
#signupArea a {color: #ffffff !important; background: url("../i/ll_arrow.png") 0 5px no-repeat; padding-left: 10px; text-decoration: none;}
.loginText {padding-top: 10px; color: #ffffff; font-size: 12px; padding-bottom: 30px; border-bottom: 1px solid #5a5f59; margin-bottom: 30px; }
#lcomptitle {
	background: transparent url("../i/lc_title.png") 0 0 no-repeat; 
	height: 23px; 
	width: 440px; 
	color: #ffffff; 
	font-weight: bold; 
	font-size: 12px; 
	font-family: "MS Trebuchet", sans-serif; 
	padding-top: 4px;
}
#pbList {
    margin-right: 0px;
    list-style-type: none;
    padding-left: 0px;
    background-color: #c6c5c5;
}
#pbRightList {
    margin-right: 0px;
    margin-left: 1px;
    list-style-type: none;
    padding-left: 0px;
    width: 174px;
}
#pbRightList li { border-bottom: 1px solid #c3c4c4;}
#pbRightList li p { padding-left: 10px; font-size: 11px; margin-bottom: 8px;}
.pbRightOwnerDiv { background: #ececec url("../i/pbr_link.png") 10px 5px no-repeat; padding-left: 35px; padding-top: 6px; padding-bottom: 7px; }
.pbPicDiv {padding-bottom: 10px; padding-top: 10px;}
.pbDiv { background-color: #c6c5c5; width: 440px;}
.pbTitle { color: #297085 !important; margin-bottom: 2px; margin-top: 8px;}
.pbRightTitle { color: #297085 !important; margin-bottom: 2px; margin-top: 8px; padding-left: 10px;}
.pb_1 { background-color: #efefef; width: 440px; border-bottom: 1px solid #3b413a;}
.pb_2 { background-color: #e5e5e5; width: 440px; border-bottom: 1px solid #3b413a;}
.pb_3 { background-color: #dcdcdc; width: 440px; border-bottom: 1px solid #3b413a;}
.pb_4 { background-color: #d3d2d3; width: 440px; border-bottom: 1px solid #3b413a;}
.pb_5 { background-color: #c6c5c5; width: 440px;}
#registerButton {
    height: 26px;
    width: 189px;
    background: transparent url("../i/btn_b_large.jpg") 0 0 no-repeat; 
    border: none;
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #ffffff;
    margin-bottom: 24px;
    cursor: pointer;
}
#competitionButton {
    width: 174px;
    height: 126px;
	background: transparent url("../i/competition.jpg") 2px 0 no-repeat; 
    border: none;
    cursor: pointer;
}

#invitesAndCompetitions {
    width: 174px;
    margin-left: 1px;
    margin-right: 0px;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 1px;
    background: #e5e5e5;    
}
#invitesAndCompetitions li {
    height: 22px;
    background: #f6f6f6;
    margin-bottom: 3px;
    border-bottom: 1px solid #d4d4d4;
    padding-left: 10px;
    padding-top: 3px;
}

#friendsSideList {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 1px;
}
#friendsSideList li { margin-bottom: 3px; }

#friendsTable {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #88898a;
    margin-bottom: 0px;
}
#friendsTable td { background: #ffffff; }

#activitiesList {
    list-style-type: none;
    padding-left: 0px;
    margin-right: 0px;
    padding-bottom: 1px;
    background: #e5e5e5;
}
#activitiesList li {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 38px;
    background: #f6f6f6;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 4px;
}
#communityActivitiesList {
    list-style-type: none;
    padding-left: 0px;
    margin-right: 0px;
    padding-bottom: 1px;
    background: #e5e5e5;
}
#communityActivitiesList li {
    padding-top: 20px;
    padding-right: 38px;
    background: #f6f6f6;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 4px;
}

#searchButton {
    height: 28px;
    width: 29px;
    background: transparent url("../i/search.png") 0 2px no-repeat; 
    border: none;
    cursor: pointer;
}

.commentButton {
    height: 20px;
    width: 21px;
    background: transparent url("../i/comment.png") 0 0 no-repeat; 
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.deleteButton {
    height: 11px;
    width: 11px;
    background: transparent url("../i/delete.png") 0 0 no-repeat; 
    border: none;
    cursor: pointer;
}

.palsTabs {
    background: #f6f6f6 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d4d4d4;
}


/* Overriden jQuery UI CSS __________________ */
.ui-widget-content { background: #f6f6f6 !important; }
.ui-state-default {
    background: #626262 !important;
    border: none !important;
    color: #ffffff !important;
}
.ui-state-active {
    background: #67b116 !important;
    border: none !important;
    color: #ffffff !important;
}
.ui-state-default a { color: #ffffff !important; }
.ui-state-active a { color: #ffffff !important; }
.ui-tabs .ui-tabs-panel {
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 30px;
}
/* ___________________________________________ */


.label { padding-top: 14px; }

#bottom {
    height: 9px;
    background: transparent url("../i/btm2.png") 0 0 no-repeat; 
}

#footerPane {
    height: 39px;
    background: transparent url("../i/btm_narrow.png") 0 0 no-repeat; 
    padding-bottom: 30px;
}

#clearFooter {
    height: 39px;
    background: transparent url("../i/btm_n.png") 0 0 no-repeat; 
    padding-bottom: 30px;
}

#friendList {
    margin-top: 6px;
    margin-right: 0px;
    list-style-type: none;
    padding-left: 0px;
}

#groupList {
    border-top: 1px solid #d0d0d0;
    margin-top: 6px;
    margin-right: 0px;
}

#communityList {
    border-top: 1px solid #d0d0d0;
    margin-top: 6px;
    margin-right: 0px;
}

.orangeTitle {
    height: 21px;
    background: transparent url("../i/orangeDiv.jpg") 0 0 no-repeat; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    padding-top: 8px;
    padding-left: 12px;
}

.greenTitle {
    height: 21px;
    background: transparent url("../i/greenDiv.jpg") 0 0 no-repeat; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    padding-top: 8px;
    padding-left: 12px;
}

.blueTitle {
    height: 21px;
    background: transparent url("../i/blueDiv.jpg") 0 0 no-repeat; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    padding-top: 8px;
    padding-left: 12px;
}

.greyTitle {
    height: 21px;
    background: transparent url("../i/greyDiv.jpg") 0 0 no-repeat; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    padding-top: 8px;
    padding-left: 12px;
}

#leftPane {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}
#leftPane h5 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #67b116;
    margin-bottom: 0px;
}
#leftBlock { padding-left: 12px; }

#contentPane {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 30px;
}
#contentPane h4 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #626262;
    margin-bottom: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d0d0d0;
}
#contentPane h5 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    color: #297085;
    margin-bottom: 2px;
}
#contentPane p {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 14px;
}

#rightPane {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#searchFriendsDiv {
    height: 108px;
    background: transparent url("../i/darkInputDiv.jpg") 0 0 no-repeat; 
}
#searchFriendsDiv h2 {
    font-family: "MS Trebuchet", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    padding-left: 16px;
    padding-top: 8px;
}
#searchFriendsDiv input[type='text'] {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #88898a;
    margin-left: 40px;
    width: 415px;
    height: 24px;
    border: 1px solid #7a8b73;
    margin-top: 16px;
    margin-bottom: 12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 10px;
}

#quickCompetitionDiv {
    height: 125px;
    background: transparent url("../i/quickCompDiv.png") 0 0 no-repeat; 
}
#quickCompetitionDiv h2 {
    font-family: "MS Trebuchet", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    padding-left: 16px;
    padding-top: 8px;
    margin-bottom: 18px;
}

.wallInputDiv {
    padding-top: 30px;
    background: #f6f6f6;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}
.wallInputDiv h3 {
    font-family: "MS Trebuchet", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #626262;
    padding-left: 16px;
    margin-bottom: 6px;
}
.wallInputDiv input[type='text'] {
    margin-left: 30px;
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #88898a;
    margin-left: 40px;
    width: 455px;
    height: 24px;
    border: 1px solid #b5b6b6;
    margin-bottom: 12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 10px;
}

.wallInputActivityField {
    margin-left: 30px;
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #88898a;
    margin-left: 40px;
    width: 455px;
    height: 24px;
    border: 1px solid #b5b6b6;
    margin-bottom: 12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 10px;
}

.panel img { margin-left: 5px; margin-bottom: 5px; }
.panel {
    background: transparent url("../i/bgDiv.jpg") 0 0 repeat-y; 
    padding-left: 10px;
}

#tblPanel{
	padding: 0px;
}
#tblPanel tr td{
	margin:  0px;
	padding: 0px;
	width:   0px;
	height:  12px;
	vertical-align: top;
}
/*
#tdBullet{
	margin:  0px;
	padding: 0px;
	vertical-align: top;
	border: 1px solid gray;
}
*/

#tdBullet img{
	margin: 0px;
	padding-right: 3px;
	height: 11px;
	width: 12px;
	border: 0px;
}

.panelNoPadding { background: transparent url("../i/bgDiv.jpg") 0 0 repeat-y; }

.panelFooter {
    height: 6px;
    background: transparent url("../i/footerDiv.jpg") 0 0 no-repeat;
    padding-bottom: 5px; 
}

.userPic {
    border: 1px solid #a3a3a3;
    padding: 2px;
    vertical-align: bottom;
}
.userPicDiv { padding-top: 10px; padding-bottom: 5px; }
.userPicCell { width: 60px; vertical-align: top; }
.userNameDiv {
    height: 42px;
    padding-top: 28px;
    border-bottom: 1px solid #d0d0d0;
}
.userControlDiv { margin-top: -5px; }

.currencyCell {
    background-color: #ffffff !important;
    color: #67b116 !important;
    padding-left: 0;
    width: 34px;
}

tr.even td {background-color: #f6f6f6;}
tr.odd td {background-color: #e5e5e5;}

.middle { vertical-align: middle; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.top { vertical-align: top; }
.bottom { vertical-align: bottom; }

.bold { font-weight: bold; }
.clickable { cursor: pointer; }

.noline { text-decoration: none; }
.nopadding{ padding: 0 !important; }
.nowrap { white-space: nowrap; }
.noborder { border: none !important; }

.white { color: white !important;}
.whiteBg { background-color: white !important;}


.error {
	font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 11px;
	color: red;	
}

.hide{ display: none; }

.wallControlTable {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 10px;
    color: #797979; 
    width: 390px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
}
.wallControlTable a {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 10px;
    color: #797979 !important;
    text-decoration: none; 
}
.wallControlTable td { padding: 0; }
.wallCommentTable {
    width: 390px;
    background: #c2f193;
    margin-bottom: 10px;
}
.wallCommentTable h5 { margin-bottom: 2px; }
.wallCommentTable p { margin-bottom: 5px; }
.wallCommentTable input[type="text"] {
    -moz-border-radius: 3px 3px 3px 3px;
    border:1px solid #B5B6B6;
    color:#88898A;
    font-family:Arial,sans-serif;
    font-size:11px;
    height:24px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left:10px;
    padding-left:10px;
    width: 320px;
}

.wallLikeTable {
    width: 390px;
    background: #c2f193;
    margin-bottom: 10px;
}
.wallLikeTable h5 {
    background: transparent url("../i/like.png") 0 0 no-repeat;
    padding-left: 20px !important;
    margin-bottom: 0px !important;
}

.userPicCellComment { width: 52px; padding-left: 14px; }
.topTr { background: transparent url("../i/wl_top.png") 0 0 no-repeat; }
.bottomTr { background: transparent url("../i/wl_bottom.png") 0 0 no-repeat; height: 2px; }

#selectCurrencySpan { font-size: 11px; margin-right: 5px; }
#selectCurrencyInput { margin-right: 5px; }

.versionInfo {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 10px;
    color: #9caa98;
}

#quickCompetitionDiv span {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 13px;
    color: #ffffff;
}
#quickCompetitionDiv input {
    -moz-border-radius: 3px 3px 3px 3px;
    border:1px solid #B5B6B6;
    color: #242B21;
    font-family:Arial, sans-serif;
    font-size: 14px;
    padding-left: 3px;
    padding-right: 3px;
}
#quickCompetitionButton {
    background-color: #67b116 !important;
    border: none !important;
    color: #ffffff !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
#quickCompetitionDiv select {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #B5B6B6;
    color: #242B21;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 1px;
}
#quickCompetitionDiv a { color: #ffffff !important; }
#quickCompetitionStake { width: 40px; }
#quickCompetitionAlternative { width: 248px; }
#quickCompetitionDiv2 { height: 121px; background: transparent url("../i/quickCompDiv2.png") 0 0 no-repeat; }
#quickCompetitionDiv2 h2 {
    font-family: "MS Trebuchet", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    padding-left: 16px;
    padding-top: 8px;
    margin-bottom: 18px;
}
#quickCompetitionDiv2 span { font-family: "MS Trebuchet", sans-serif; font-size: 13px; }
#quickCompetitionDiv2 input {
    -moz-border-radius: 3px 3px 3px 3px;
    border:1px solid #B5B6B6;
    color: #242B21;
    font-family:Arial, sans-serif;
    font-size: 14px;
    padding-left: 3px;
    padding-right: 3px;
}
#quickCompetitionDiv2 select {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #B5B6B6;
    color: #242B21;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 3px;
}
#quickCompetitionAlternative2 {
    width: 285px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.formSectionDiv {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
}
.formSectionDiv input[type=text], input[type=password] {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #B5B6B6;
    height: 25px;
    padding-left: 5px;
}
.formSectionDiv label { font-weight: normal; padding-left: 4px; }
.formSectionDiv h6 {
    font-family: "MS Trebuchet", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #626262;
    margin-bottom: 5px;
    padding-bottom: 3px;
}
.formSectionSlimDiv { padding-bottom: 2px; margin-bottom: 0px; }
.formSectionSlimDiv input[type=text], input[type=password] {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #B5B6B6;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
.formSectionSlimDiv select {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #B5B6B6;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

#userBioTextArea {
    height: 120px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #B5B6B6;
}

#quickCompetitionDescription {
    height: 120px;
    width: 465px;
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #B5B6B6;
}
#competitionDescription {
    height: 120px;
    width: 385px;
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #B5B6B6;
}
.labelDiv { margin-top: 5px; }
.competitionDiv {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.invitationDiv {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 5px;
}
.invitationDiv h5 { cursor: pointer; }
.selectionDiv115 {
    height: 115px;
    border-top: 1px solid #d0d0d0;	
    border-bottom: 1px solid #d0d0d0;
    overflow: auto;
}
.selectionList {
    list-style: none;	
    padding: 0px;
    margin: 0px;
}
.detailTitle { color: #61695f; }
.invViewDiv { padding-top: 25px; }
.invViewButtonDiv { padding-top: 20px; }
.inlineDiv {
	display: inline-block;
    vertical-align: top;	
    padding-left: 20px;
}
.formInlineDiv { display: inline-block; }

.altListDetails {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
}
.altListName { padding-top: 5px; }
.altListPriority { padding-top: 5px; }

.rbDiv {
    background-color: #f6f6f6;
    border: 1px solid #D4D4D4;
	-moz-border-radius: 0px 0px 3px 3px;
}

.communityTitle { color: #1b6d87; font-weight: bold; }
.communityCount { color: #1b6d87; font-weight: bold; font-size: 12px; }

.arrowLink {color: #9caa98 !important; background: url("../i/ll_arrow.png") 0 3px no-repeat; padding-left: 10px; text-decoration: none;}
.arrowLink:hover {color: #ffffff !important;}

.commentDate {
    color: #797979;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-size: 10px;
}

.logList {
    list-style: none;
    margin: 0;
    padding: 0;	
}
.logInfo {
    display: none;
    padding-left: 20px;
    padding-top: 5px;
    word-wrap: break-word;
    margin-bottom: 5px;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
	color: #61695f;
	font-weight: normal;
	background-color: #f6f6f6;
}
.logFieldTitle { color: #61695f; font-weight: bold; }
.logEntry { padding-top: 2px; padding-bottom: 2px; }
.logHover { background-color: #e5e5e5; }

.logLevelFATAL { color: #cb523a !important; }
.logLevelERROR { color: #cb523a !important; }
.logLevelWARN { color: #b4ba02 !important; }
.logLevelDEBUG { color: #a0a5b1 !important; }
.logLevelINFO { color: #23809e !important; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
/* __________________________________ */


